<div class="aside">
    <div class="col-lg-12">
        <div class="d-flex flex-row justify-content-center py-4 top">
            <div class="mx-4">
                <button class="btn btn-success" routerLink="/domain">
                    Domain
                </button>
            </div>
            <div class="mx-4">
                <button class="btn btn-success" routerLink="/fnction">
                    Function
                </button>
            </div>
            <div class="mx-4">
                <button class="btn btn-success" routerLink="/constraint">
                    Constraint
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>